/* Définition de la police de caractères pour le corps de la page */
body {
    font-family: 'Roboto', sans-serif;
}

/* Style pour la photo */
.kphoto {
    display: flex;
    width: 200px; /* Ajuste la largeur de la photo */
    height: auto; /* Ajustez la hauteur de la photo de manière proportionnelle */
    margin-left: 120px; /* Marge à gauche de la photo */
    top: 20px; /* Position verticale par rapport au haut de la page */
}

/* Style pour le bloc de texte */
.ktextbloc {
    display: flex;
    padding: 20px;
    max-width: 550px; /* Largeur maximale du texte */
    text-align: justify; /* Justifie le texte à droite et à gauche */
    font-size: 20px;
    line-height: 1.5; /* Augmente l'espace entre les lignes */
    margin-top: -350px; /* Centre le texte horizontalement */
    float: right;
    position: absolute;
    margin-left: 720px;
   

    
}



/* Style pour l'effet de déplacement vers le haut du bloc de texte */
.ktextbloc.move-up {
    transform: translateY(-50%); /* Ajuste la valeur selon votre préférence */
}

/* Style pour la grille principale */
.kgridcontainer {
    /* Utilise un affichage en grille avec trois colonnes égales */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
    grid-row: 4;
    padding: 40px; /* Ajoute de l'espace autour de la grille */
    justify-content: left;
    
   
    margin-left: 60px;
    margin-right: 60px;
    height: 100px;
    
}

/* Style pour les cases kcase1 à kcase6 */
.kcase1, .kcase2, .kcase3, .kcase4, .kcase5, .kcase6 {
    padding: 50px;
    border-radius: 20px;
    top: 50px; /* Position verticale par rapport au haut de la page */
    margin: 20px;
    max-width: 100%; /* Ajuste la largeur de l'image pour qu'elle ne dépasse pas la grille */
    max-height: 100%; /* Ajuste la hauteur de l'image pour qu'elle ne dépasse pas la grille */
    display: flex; /* affichage flex pour centrer l'image */
    justify-content: center; /* Centre horizontalement l'image */
    align-items: center; /* Centre verticalement l'image */
    overflow: hidden; /* Cache tout contenu dépassant les limites de la grille */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition pour l'effet de zoom */
}

/* Style pour les cases au survol */
.kcase1:hover, .kcase2:hover, .kcase3:hover, .kcase4:hover, .kcase5:hover, .kcase6:hover {
    transform: scale(1.1); /* Ajustez la valeur pour l'effet de zoom au survol */
}

/* Couleurs pour les différentes cases */
.kcase1 {
    background-color: #2B2D42;
}

.kcase2 {
    background-color: #f9f6f6;
}

.kcase3 {
    background-color: #92DCE5;
}

.kcase4 {
    background-color: #f7ec59;
}

.kcase5 {
    background-color: #f9f6f6;
}

.kcase6 {
    background-color: #fF66D8;
}

/* Styles pour les textes ktext1 à ktext6 */
.ktext1, .ktext2, .ktext3, .ktext4, .ktext5, .ktext6 {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    grid-row: 2;
}

/* Style pour le conteneur de texte */
.ktextcontainer {
    display: inline-block;
    vertical-align: middle;
}
.containerservices { background-color: #92DCE5; width: 100%; height: 500px; display: flex; flex-wrap: wrap;}
.a1 { background-color: #fF66D8; width: 33%; height: 100px;}
.a2 { background-color: #f7ec59; width: 33%; height: 100px;}
.a3 { background-color: aquamarine;width: 33%; height: 100px;}
.a4 { background-color: #2B2D42;width: 33%; height: 100px;}
.a5 { background-color: beige;width: 33%; height: 100px;}
.a6 { background-color: chocolate;width: 33%; height: 100px;}