/* Pour les noms de class et id, rajoutez la dernière lettre de votre prénom en majuscule à la fin !
on va éviter un max de conflits css 
exemple : backgroundC ou backgroundS */

body {
    font-family: 'Roboto', sans-serif;
}
#backgroundheader { 
  background-color: #2B2D42 ; 
  display: flex; 
  justify-content:flex-start ;
  align-items: center;
  overflow: hidden; 
}

#elementS {
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  gap: 30px; width:80%; 
  max-height: 20%;
}

.header {
background-color: #2B2D42
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: relative;
width: 100%;
z-index: 3;
}

.header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
}

.header li a {
display: block;
color: #2B2D42;
padding: 20px 20px;
text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
background-color: #2B2D42;
}

.header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
cursor: pointer;
display: inline-block;
/* float: right; */
padding: 28px 20px;
position: relative;
user-select: none;
}

.header .menu-icon .navicon {
background: #fff;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
background: #fff;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.header .menu-icon .navicon:before {
top: 5px;
}

.header .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.logomenu {
width: 70%;
margin: auto;
margin-left: auto;
padding-bottom: 1rem;
}

.menu-wrapper {
margin-left: 5rem;
}

.logomenu img {
width: 50%;
}

.header .menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 340px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

/* Responsive */
@media only screen and (max-width: 768px){
.header ul{
    background-color: #fff;
}  
.header li a {
padding: 15px;
border-bottom: 1px dotted #dddddd;

}
}

@media only screen and (min-width: 768px) {
.menu-wrapper{
    background: #2B2D42;
    height: 55px;
    line-height: 55px;
    width: 100%;
  
}
.header li {
float: left;
}
.header .logo{
    line-height: 1;
}
.header li a {
color: #fff;
padding: 0px 30px;
border-right: 1px solid #2B2D42;

}
.header .menu {
clear: none;
float: left;
max-height: none;

}
.header .menu-icon {
display: none;
}
}
/* nav, .menu {
display: flex;
} */


/* nav {
justify-content: space-around;
align-items: center;
height: 10vh;
margin-left: 1rem;
} */

.menu {
gap: 2rem;
list-style: none;
font-size: 1rem;
font-weight: bold;
}

.menu a {
color: #F8F7F9;
text-decoration: none;
text-decoration-color: white;
}

.menu a:hover {
color: #92DCE5;
text-decoration: underline;
text-underline-offset: 1rem;
text-decoration-color: #92DCE5;
}









#logoS { 
   /* ICI */
    width: 100px;
    height: 50px;
    padding-bottom: 2rem; 
    padding-left: 40rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}
#logoS img {
    height: 80px;
    width: 350px;
    padding-left: 100px;
}
/* hero */
#hero {display: flex;width: 100%; position: relative; overflow: hidden; height: 650px; filter: brightness(85%);}
#hero img {width: 1000px;height: 1000px;margin-top: -150px; margin-left: -100px; zoom: 120%; 
}
#ombreS {width: 500px; height: 1000px; background-color: black; flex-grow: 2; }
#hero p {transition:all 250ms ease-in-out ;color: white; font-family: Roboto ; font-weight: bold; font-size: 40px;   position: absolute; top: 20%; left: 58%; text-align: center;
  animation: fadein 2s;
 -webkit-animation: fadein 2s; /* Safari et Chrome */
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
  }
  .herohover:hover{transform: scale(1.02);}
#produitS {background-color: #92DCE5; position: absolute; top: 50%; left: 75%; border: none; border-radius: 20px; width: 180px; height: 60px; font-size: 20px; font-weight: bold; transition: all 250ms ease-in-out; display: flex; justify-content: center; align-items: center;}
#produitS:hover {transform: scale(1.1);color: #F8F7F9;}
#defilS { background-color: none;    width:20%; height: 20%; position: absolute; align-self: self-end;top: 62%;right: 40%; }
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
  .mouse_scroll {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 100px;
      margin-top: 125px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: yellow;
    color: rgb(0, 0, 0);
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: yellow;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
/* MOSAIQUE */

#containerD {
    display: flex;
    flex-direction: column;
}

.mosaique {
   
        display: grid;
        text-align: center;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 80px;
      
}

     

.mosaique img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all 250ms ease-in-out;
}

.jeune {
    background-color: #F7EC59;
}

.pink {
    background-color: #FF66D8;
}

.bleu {
    background-color: #92DCE5;
}

.overlay {padding: 10px;position: absolute;transition: all 0.5s ease-in-out;}
.overlay img {width: 12px;}
img h2 {overflow: auto;}
img:hover .overlay {margin-top: 10%;}
.mosaique img:hover {transform: scale(1.02) rotate(0);transform-origin: bottom left; z-index: 2;box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.6);}

/* CONTACT */

.contact {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


form { max-width:420px; margin:50px auto;font-family: 'Roboto', sans-serif; }

.feedback-input {
  color:#2B2D42;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #FF66D8;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  font-family: 'Roboto', sans-serif;
}

.feedback-input:focus { border:2px solid #FF66D8; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  font-family: 'Roboto', sans-serif;
}

[type="submit"] {

  border-radius:35px;
  background-color: #92DCE5;
  border:none;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  padding: 15px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  font-family: 'Roboto', sans-serif;
}
[type="submit"]:hover { background:#F7EC59; }

h2 {
 padding-top: 5%;
 color: #2B2D42;
 font-size:34px;
 
}
/* Footer */
*{
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit; 
  }
  a:hover {
    color: #ffffffa2;
  }
.backgroundFooter{
    background-color: #2B2D42; 
    display: flex;
    height: 150px; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.elementFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 40%;
    margin-left: 40px;
}

.elementT1{
    border-right: 2px solid #ffffff94;
    padding-right: 30px;
}
.elementT2{
    border-right: 2px solid #ffffff94;
    padding-right: 30px;
}
.elementT3{
    border-right: 2px solid #ffffff94;
    padding-right: 30px;
}
.logoFooter img{
    height: 140px; 
    width: 150px;
    padding-bottom: 20px;
}
.logoFooter img:hover {
    transform: none;
}

/* presentation et services */

.presentationetservices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  
}
.presentation { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 60%;
  margin-bottom: 70px;
}
.imgpresent img {
  height: 250px;
  width: 250x;
  border-radius: 10px;
}

.textpresent {
  padding: 50px;
}

.blue {color: #27C5CF;}
.cafonctionnepas {color: #FF66D8;}
.servic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
}
.servic div {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.servic1 img { 
  height: 100px;
  width: 230px;
  background-color: rgb(33, 33, 33);
  border-radius: 25px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 250ms ease-in-out;
}
.servic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic2 img { 
  height: 110px;
  width: 210px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 250ms ease-in-out;
}
.servic3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic3 img { 
  height: 100px;
  width: 230px;
  background-color: #27C5CF;
  border-radius: 25px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 250ms ease-in-out;
}
.servic4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic4 img { 
  height: 100px;
  width: 230px;
  background-color: #F7EC59;
  border-radius: 25px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 250ms ease-in-out;
}
.servic5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic5 img { 
  height: 100px;
  width: 210px;
  border-radius: 25px;
  transition: all 250ms ease-in-out;
  
}
.servic6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servic6 img { 
  height: 100px;
  width: 210px;
  background-color: #FF66D8;
  border-radius: 25px;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  transition: all 250ms ease-in-out;
}
.servic6:hover img, .servic1:hover img, .servic2:hover img, .servic3:hover img, .servic4:hover img, .servic5:hover img { transform: scale(1.1);}

/* PORTABLE */

@media screen and (max-width: 600px){
 
    .mosaique {float:none; width: 100% !important;}
    #ombreS {display: none;}
    #hero {flex-direction: column; background-color: black; justify-content: center; align-items: center; display: flex;}
    #hero img { height: 400px; width: 400px; zoom: 120%;margin-top: 50px; margin-right: 50px; opacity: 70%;}
    #hero p {font-size: 15px;top:15%; z-index: 2; left: 20%;}
    #produitS {width: 170px; height: 40px; font-size: 12px;left: 30%;top: 25%;}
    .logoFooter img{
      height: 150px; 
      width: 150px;
      padding-bottom: 20px;
}
.elementT1{
  border-right: none;
  padding-right: 30px;
  font-size: 12px;
}
.elementT2{
  border-right: none;
  padding-right: 30px;
  font-size: 12px;
}
.elementT3{
  border-right: none;
  padding-right: 30px;
  font-size: 12px;
}
a:hover {
  color: #92DCE5;
  text-decoration: none;
  text-underline-offset: 1rem;
  text-decoration-color: #92DCE5;
}
.presentation { flex-direction: column;}
.textpresent { padding: 5px; padding-top: 30px;}
}








