/* Pour les noms de class et id, rajoutez la dernière lettre de votre prénom en majuscule à la fin !
on va éviter un max de conflits css 
exemple : backgroundC ou backgroundS */
body {

    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
/*mosaique et contact daria*/

#container {
    display: flex;
    flex-direction: column;
}

.mosaique {
   
        display: grid;
        margin: auto;
        width: 1000px;
        /* height: 90vh; */
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
     
     
}
.mosaique img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.jeune {
    background-color: #F7EC59;
}

.pink {
    background-color: #FF66D8;
}

.bleu {
    background-color: #92DCE5;
}


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:#2B2D42;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #FF66D8;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #FF66D8; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {

  border-radius:5px;
  background-color: #92DCE5;
  border:2px solid #FF66D8;
  cursor:pointer;
  color:#2B2D42;
  font-size:24px;
  padding-top:5px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#F7EC59; }

h2 {
 padding-top: 5%;
 color: #2B2D42;
 font-size:24px;
 
}

@media screen and (max-width: 600px){

    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    div {float:none; width: 100% !important;}
}

/*mosaique et contact daria FIN*/



