/* Pour les noms de class et id, rajoutez la dernière lettre de votre prénom en majuscule à la fin !
on va éviter un max de conflits css 
exemple : backgroundC ou backgroundS */
body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;

}
/*mosaique et contact daria*/

.mosaique {
   
        display: grid;
        width: 1000px;
        height: 100vh;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
     
     
}
.mosaique img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}



